body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: space-between;
}

.header {
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
    justify-content: space-between;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    flex: 0 1 auto;
}

.maincontent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    flex: 0 1 auto;
}

.eyecatch, .infolinker, .quote {
    height: 400px;
    padding-left: 25px;
    padding-right: 25px;
}

.eyecatch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    flex: 0 1 auto;
}

.descriptionsignup {
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 700px;
    justify-content: space-between;
    flex: 0 1 auto;
}

#hero1, #hero2 {
    display: flex;
    flex: 0 1 auto;
}

#hero1 {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -2;
}

#hero2 {
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
}

.picboxcredit {
    flex: 0 1 auto;
    font-size: 8px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.picboxcredit p {
    margin: 0px;
    align-self: flex-end;
}

.picboxcredit img {
    height: 270px;
    width: 600px;
    flex: 0 1 auto;
}

.infolinker {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
}

.littleimages {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 45px;
}

.picsquad {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 185px;
    text-align: center;
}

.picsquad p {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.picsquad img {
    height: 200px;
    width: 175px;
    border: 5px solid #3882f6;
    border-radius: 10px;
    flex: 0 1 auto;
}

.quote {
    display: flex;
    flex: 1 1 auto;
}

.calltoaction {
    display: flex;
    flex: 1 1 auto;
}

.footer {
    background-color: #1f2937;
    display: flex;
    color: white;
    height: 50px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}



ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    gap: 16px;

}

.header ul {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
}

.picboxcredit a {
    text-decoration: underline;
}

button {
    display: flex;
    height: 30px;
    width: 90px;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    color: white;
}

#firstbutt {
    font-size: 24px;
    height: 50px;
    width: 150px;
    margin: 12px;
    margin-left: 0px;
    flex: 0 1 auto;
}